* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: rgb(241, 212, 130);
    overflow: hidden;
}

html {
    /* opacity: 0; */
    transition: opacity 0.5s ease-in-out;
  }

.icon_style {
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

strong {
    height: 18px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*start*/
    align-items: center;
}

@keyframes clignoter {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking {
    animation: clignoter 3s infinite;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bgimage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(230, 181, 122);
    background: linear-gradient(149deg, rgba(230, 181, 122, 1) 0%, rgba(232, 188, 134, 1) 42%, rgba(245, 225, 202, 1) 100%);
    z-index: -1;
    /* Place l'image derrière le bouton */

}
/*
#container h1 {
    z-index: 1;
    font-size: 5rem;
}*/

.btnclass {
    position: inherit;
    width: auto;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #CF881BE5;
    font-family: "Asap", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    
    text-decoration: none;
    /* Remove underline */
    -webkit-appearance: none;
    /* Remove default styling on iOS */
    -moz-appearance: none;
    /* Remove default styling on Firefox */
    appearance: none;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
}


.logoimg {
    width: 75%;
    margin: 10px;
}

#logoImgP1 {
    position:absolute;
    top: 25%;
    animation: fadeIn 4s infinite;
}

#logoImgP2 {
    position: fixed;
    width: 50%;
    bottom: 15px;
    animation: fadeIn 4s infinite;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.form input {
    border-radius: 10px;
    border-color: #DDA861;
    background-color: #ffffff;
    border-style: none;
    width: 100%;
    height: 40px;
}

.btnInv {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 9999;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;

}

.txt {
    font-family: "Asap", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    max-width: 80%;
}

.txtTitle {
    font-family: "Uncial Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    max-width: 80%;
    margin: 10px;
    margin-bottom: 0;
}

.txtFormName{
    font-family: "Asap", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    max-width: 80%;
    padding-bottom: 10px;
}

.txtName {
    font-family: "Uncial Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    max-width: 80%;
    margin: 10px;
    margin-bottom: 0;
}
#diagBoxAR{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.classTxtCity{
    font-family: "Asap", serif;
    color: white;
    font-size: 2rem;
}

/*
#txt1 {
    margin-top: 250px;
}

#txt2 {
    margin-top: 20px;
    font-size: 18px;
}

#txt3 {
    margin-top: 20px;
    font-size: 30px;
}*/

@keyframes fadeIn {
    0% {
        opacity: 0.6;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0.6;
        transform: translateY(0px);
    }
}

#svg1 {
    /*margin-top: 150px;*/
    width: 100px;
    height: 100px;
}

/*---------------------Choix Loc----------------------*/
#containerBtnLoc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.btnLoc {
    width: 100px;
    background-color: #C28832;
}


/*---------------------Style Narration----------------------*/
.diagBox {
    width: 92%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 0px;
    display: flex;
    
    justify-content: start;
    align-items: start;
    z-index: 2;
}


.diagBoxN {
    width: 92%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 10px 10px 0 10px;
    margin: 10px 10px 0 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column-reverse;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    z-index: 2;

}

.dialogBox {
    font-family: "Asap", serif;
    padding-top: 0;
    margin-top: 0;
}

.nameCharacter {
    font-family: "Uncial Antiqua", system-ui;
    padding: 0 0 10px 0;
    margin: 0;
}

.btnChoix {
    width: 100%;
    border-radius: 6px;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0 10px ;
    margin: 10px 0 10px 0;
    margin-bottom: 5px;
    border: none;
    background: none;
    color: white;
}
.choix1{
    background-color: #E8E6CA;
    color: black;
}

.choix2{
    background-color: #8B9A86;
}

.choix3{
    background-color: #C28832;
}

/*---------------------Style Perso narration----------------------*/
.imgPerso {
    width: 250%;
    padding-bottom: 90px;
    z-index: 1;
}


.fightContainer {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(230, 181, 122);
    background: linear-gradient(149deg, rgba(230, 181, 122, 1) 0%, rgba(232, 188, 134, 1) 42%, rgba(245, 225, 202, 1) 100%); */
}

.fightBloc {
    position: fixed;
    top: 100px;
    left: 150px;
    width: 200px;
    height: 55px;
    background-color: rgb(255, 255, 255, .8);
    border: black 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.lifeGaugeContainer {
    display: flex;

    align-items: center;
    width: 80%;
    height: 5px;
    border: #f9f9f9 1px solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 1px black;
    margin-top: -10px;
}

.playerLifeGaugeContainer {
    display: flex;

    align-items: center;
    width: 80%;
    height: 10px;
    border: #f9f9f9 1px solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 1px black;
    margin-top: -10px;
}

.lifeGauge {
    width: 100%;
    height: 100%;
    background-color: #3BFF00;
    border-radius: 5px;
}

#lifeCounter1 {
    font-size: 15px;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: 800;
    margin-bottom: 0;
}

#lifeCounter2 {
    font-size: 15px;
    font-weight: 800;

}

.enemyContainer {
    position: fixed;
    top: 100px;
    left: 150px;
    width: 250px;
    height: 400px;
    z-index: 0;
}

.playerContainer {
    position: fixed;
    top: 200px;
    right: 150px;
    width: 250px;
    height: 600px;
    z-index: 0;

}

/*-----------------------img intro-----------------------------*/
.imgIntro {
    width: 110%;
}

.introVideo {
    width: 100%;
}

/*-----------------------AVATAR-----------------------------*/
.divAvatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgAvatarContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.imgAvatarContainer img {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 60px;
}

.playerLifeContainer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255, .8);
    border-top: black 2px solid;
    box-shadow: inset 0px 2px 2px rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.journalIcon {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.imgAvatarContainer img {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 60px;
}

/*.imgAvatarContainer img.clicked {
    border: 2px solid orange;
    filter: brightness(0.8); /* Rendre l'image plus sombre 
}*/

/*------------OVERLAY----------------------*/

/* Style bouton inventaire*/
#btnI{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    bottom: 18px;
}
  
  
#overlaySquare{
    position: fixed; /* Pour rester en bas de la page même en scrollant */
    bottom: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur de la page */
    height: 60px; /* Hauteur du rectangle */
    background-color: #f3da8e; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    display: flex; /* Pour centrer le texte */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    font-size: 1rem; /* Taille du texte */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre subtile */
    z-index: -1000; /* Assure qu'il reste au-dessus des autres éléments */ 
}
  
  


/*------------Son-------------------*/
#btnSon {
    width: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*-------------------Journal--------------------*/
#btnJ {
    width: 20%;
    position: absolute;
    left: 10px;
    bottom: 15px;
}



#popup-container {
    font-family: 'Asap', sans-serif;
    position: fixed;
    top:55px;
    left: 40px;;
    width: 80%;
    height: 80%;
    margin: 5px;
    background-color: #f0e6c8;
    border: solid #c28832 5px;
    border-radius: 60px;
    /* Fond semi-transparent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Assurez-vous qu'il soit au-dessus du contenu */
}

/* Contenu de la pop-up */
#popup-titre {
    font-family: 'Asap', sans-serif;
    position: fixed;
    top: 40px; /* Position verticale en haut */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Ajuste le centrage horizontal */
    font-size: 18px; /* Taille du texte */
    padding: 10px;
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    border: solid #C28832 5px;
    background-color: #f0e6c8;
    border-radius: 20px;
    text-align: center;
    z-index: 1001; /* Au-dessus du contenu */
}



/* Style du bouton de fermeture */
.btnFermeture {
    position: absolute;
    top: -10px;
    right: -15px; /* Espace depuis la droite */
    width: 40px; /* Taille de l'image */
    height: 40px;
    border: solid #C28832 5px;
    background-color: #f0e6c8;
    border-radius: 50%;
    z-index: 9999;
}


.btn-next {
    position: absolute;
    bottom: 20px; /* Distance par rapport au bas de la popup */
    right: 20px; /* Distance par rapport à la droite de la popup */
    width: 50px; /* Taille de l'image de la flèche */
    height: 50px; /* Taille de l'image de la flèche */
    cursor: pointer; /* Ajoute un curseur interactif */
}



/*--------------Inventaire------------------------*/


/* Conteneur principal de la popup */
.popup-containerObj {
    font-family: 'Asap', sans-serif;
    position: fixed;
    top: 55px;
    left: 40px;
    width: 80%;
    height: 80%;
    margin: 5px;
    background-color: #f0e6c8;
    border: solid #c28832 5px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Assurez-vous qu'il soit sous le bouton de fermeture */
    overflow-y: auto; /* Permet seulement le défilement vertical */
    overflow-x: hidden; /* Désactive le défilement horizontal */
    box-sizing: border-box; /* Assure que les dimensions incluent les bordures et le padding */
}

/* Conteneur pour les objets */
.obj-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px; /* Réduit l'espace sous le titre */
    padding: 10px; /* Ajuste l'espace autour des objets */
    width: 100%; /* S'assure que les objets restent dans les limites de la popup */
    box-sizing: border-box; /* Empêche le dépassement avec le padding */
}

/* Élément individuel dans le conteneur d'objets */
.obj-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px; /* Taille fixe qui ne dépasse pas les limites */
    text-align: center;
    margin: 0;
    box-sizing: border-box; /* Inclut les bordures et paddings */
}

/* Contenu de la popup */
.popup-contentObj h3 {
    font-family: 'Asap', sans-serif;
    position: fixed;
    top: 20px; /* Position verticale en haut */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%);
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    color: #333;
    border: solid #C28832 5px;
    background-color: #f0e6c8;
    border-radius: 20px;
    text-align: center;
    z-index: 500; /* Z-index plus bas que le bouton de fermeture */
}


/* Style des images dans les objets */
.obj-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    border: solid #C28832 3px;
    background-color: #f0e6c8;
    margin-bottom: 5px; /* Réduit l'espace entre l'image et le texte */
}

/* Style du bouton dans la popup (fermeture ou action) */
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: #e6b57a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 250px;
}

.btn:hover {
    background-color: #a86a28;
}








.pContainer {
    width: 80%;
    display: flex;
    align-items: start;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.bgImage {
    position: fixed;
    bottom: 30px;
    scale: 1.2;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    /* Couleur transparente */
    pointer-events: none;
    /* N'intercepte pas les clics par défaut */
    z-index: 9998;
    display: none;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    /* Couleur semi-transparente */
    z-index: 9998;
}

.weaponsBloc {
    width: 250px;
    height: auto;
    position: fixed;
    left: 150px;
    display: flex;
    flex-direction: column;
}

.y-area{
    top: 380px;
}

.y-area2{
    top: 310px;
}

.weapons {
    margin: 10px;
    width: 250px;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: start;
    transform: skewX(-15deg);
    box-shadow: inset 2px 2px 2px rgb(78, 78, 78), 5px 5px 5px rgb(92, 92, 92);
}

.fade-in {
    display: flex;
    opacity: 0;
    animation: fadeInTwo 2s forwards;
}

.fade-out {
    opacity: 0.8;
    animation: fadeOut 2s forwards;
}

.OverlayTxt {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    color: #fff;
    z-index: 9998;
}

.vibration {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*btn VR*/
.a-enter-vr-button {
    display: none !important;
}

.OverlayImg {
    width: 100px;
    /* Adjust the size as needed */
    height: auto;
}

@keyframes fadeInTwo {
    to {
      opacity: 0.8;
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }


.homeStyle {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    width: 45px;
}

/********************/
/* Buttons          */
/********************/
#SoundBtn {
    right: 10px;
}

#ReloadBtn {
    right: 55px;
    display: none;
}
#mapBtn {
    right: 97px;
    position: fixed;
    top: 14px;
    z-index: 9999;  
}

#MapBtn {
    right: 100px;
    display: none;
}

#SoundBtn, #ReloadBtn, #MapBtn {
    position: fixed;
    top: 10px;
    z-index: 9999;
}
#mapIcon {
    width : 35px;
}
/********************/
/* Icons            */
/********************/
.SoundIcon, .ReloadIcon, .MapIcon {
    width : 40px;
    height: 40px;
    /* transform: rotate(0deg); */
    /* transition: transform 0.3s ease; */
}

/* Quand l'écran est en mode paysage, on tourne l'icône à 90 degrés */
/* @media (orientation: landscape) {
    #SoundIcon {
      transform: rotate(-90deg);
    }
} */

.footer {
    position: fixed;  /* Fixé en bas de l'écran */
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Asap", serif;
    text-align: center;  /* Centrer le texte */
    font-style: italic;  /* Texte en italique */
    background-color: transparent; /* Couleur de fond légère */
    padding: 10px 0;  /* Espacement en haut et en bas */
}

/*-----MAP-----*/
/* Conteneur principal de la popup */
.map-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assure que la popup est au-dessus des autres éléments */
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  }
  
  /* Contenu interne de la popup */
  .map-popup-content {
    width: 90%;
    height: 85%;
    background: rgb(241, 212, 130);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Empêche le débordement */
  }
  .map-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;  /* Temporairement pour voir si la croix est présente */
    width: 30px;      /* Ajuste la taille si nécessaire */
    height: 30px;
    z-index: 9999;    /* Garantir qu'elle est devant tous les autres éléments */
  }
  
  
  /* Ajout d'un effet au survol de la croix */
  .map-popup-close:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Légère surbrillance au survol */
    border-radius: 50%;
  }
  
  /* Conteneur pour la carte */
  .map-popup-map {
    width: 100%;
    height: 100%;
    background-color: #ccc; /* Placeholder si la carte n'est pas encore chargée */
    border-radius: 10px;
    z-index: 1000; /* Assure que la carte reste en dessous de la croix */
  }
  
