html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #e6b57a;
}

strong {
    height: 18px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*start*/
    align-items: center;
}

#bgimage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(230, 181, 122);
    background: linear-gradient(149deg, rgba(230, 181, 122, 1) 0%, rgba(232, 188, 134, 1) 42%, rgba(245, 225, 202, 1) 100%);
    z-index: -1;
    /* Place l'image derrière le bouton */

}

#container h1 {
    z-index: 1;
    font-size: 5rem;
}

.btn {
    position: inherit;
    width: auto;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #E6B57A;
    font-family: "Asap", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    /* Remove underline */
    -webkit-appearance: none;
    /* Remove default styling on iOS */
    -moz-appearance: none;
    /* Remove default styling on Firefox */
    appearance: none;
    margin: 20px;
    font-size: 20px;
}


.logoimg {
    width: 75%;
    margin: 25px;
}

#logoImgP1 {
    /*margin-top: 230px;*/
    animation: fadeIn 4s infinite;
}

#logoImgP2 {
    position: fixed;
    width: 50%;
    bottom: 15px;
    animation: fadeIn 4s infinite;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input {
    border-radius: 10px;
    border-color: #DDA861;
    background-color: #E6B57A;
    border-style: none;
    width: 100%;
    height: 40px;
}

.btnInv {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 9999;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;

}

.txt {
    font-family: "Asap", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    max-width: 80%;
}

.txtTitle {
    font-family: "Uncial Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    max-width: 80%;
    margin: 10px;
    margin-bottom: 0;
}

.txtName {
    font-family: "Uncial Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    max-width: 80%;
    margin: 10px;
    margin-bottom: 0;
}

/*
#txt1 {
    margin-top: 250px;
}

#txt2 {
    margin-top: 20px;
    font-size: 18px;
}

#txt3 {
    margin-top: 20px;
    font-size: 30px;
}*/

@keyframes fadeIn {
    0% {
        opacity: 0.6;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0.6;
        transform: translateY(0px);
    }
}

#svg1 {
    /*margin-top: 150px;*/
    width: 100px;
    height: 100px;
}

/*---------------------Choix Loc----------------------*/
#containerBtnLoc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.btnLoc {
    width: 100px;
    background-color: #C28832;
}


/*---------------------Style Narration----------------------*/
.diagBox {
    width: 92%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.75);

    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 2;
}

.diagBoxN {
    width: 92%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 10px 10px 0 10px;
    margin: 10px 10px 0 10px;
    border-radius: 6px;
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column-reverse;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    z-index: 2;

}

.dialogBox {
    font-family: "Asap", serif;
    padding-top: 0;
    margin-top: 0;
}

.nameCharacter {
    font-family: "Uncial Antiqua", system-ui;
    padding: 0 0 10px 0;
    margin: 0;
}

.btnChoix {
    width: 100%;
    
    border-radius: 6px;
    text-align: center;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border: none;
    background: none;
    color: white;
}
.choix1{

    background-color: #E8E6CA;
    color: black;
}
.choix2{
    background-color: #8B9A86;
}

/*---------------------Style Perso narration----------------------*/
.imgPerso {
    width: 250%;
    padding-bottom: 90px;
    z-index: 1;
}

/*---------------------Style map----------------------*/
.map {
    width: 150%;
    margin: 10px;
    padding: 10px;
}

.fightContainer {
    display: fixed;
    width: 100%;
    height: 100%;
    /* background: rgb(230, 181, 122);
    background: linear-gradient(149deg, rgba(230, 181, 122, 1) 0%, rgba(232, 188, 134, 1) 42%, rgba(245, 225, 202, 1) 100%); */
}

.fightBloc {
    position: fixed;
    top: 100px;
    left: 150px;
    width: 200px;
    height: 55px;
    background-color: rgb(255, 255, 255, .8);
    border: black 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.lifeGaugeContainer {
    display: flex;

    align-items: center;
    width: 80%;
    height: 5px;
    border: #f9f9f9, 1px solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 1px black;
    margin-top: -10px;
}

.playerLifeGaugeContainer {
    display: flex;

    align-items: center;
    width: 80%;
    height: 10px;
    border: #f9f9f9, 1px solid;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 1px black;
    margin-top: -10px;
}

.lifeGauge {
    width: 100%;
    height: 100%;
    background-color: #3BFF00;
    border-radius: 5px;
}

#lifeCounter1 {
    font-size: 15px;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: 800;
    margin-bottom: 0;
}

#lifeCounter2 {
    font-size: 15px;
    font-weight: 800;

}

.enemyContainer {
    position: fixed;
    top: 100px;
    left: 150px;
    width: 250px;
    height: 400px;
    z-index: 0;
}

.playerContainer {
    position: fixed;
    top: 200px;
    right: 150px;
    width: 250px;
    height: 600px;
    z-index: 0;

}

/*-----------------------img intro-----------------------------*/
.imgIntro {
    width: 110%;
}

.introVideo {
    width: 100%;
}

/*-----------------------AVATAR-----------------------------*/
.divAvatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgAvatarContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.imgAvatarContainer img {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 60px;
}

.playerLifeContainer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255, .8);
    border-top: black 2px solid;
    box-shadow: inset 0px 2px 2px rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.journalIcon {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.imgAvatarContainer img {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 60px;
}

/*.imgAvatarContainer img.clicked {
    border: 2px solid orange;
    filter: brightness(0.8); /* Rendre l'image plus sombre 
}*/

/*------------OVERLAY----------------------*/
/*------------Son-------------------*/
#btnSon {
    width: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*-------------------Journal--------------------*/
#btnJ {
    width: 15%;
    position: absolute;
    left: 10px;
    bottom: 15px;
}

#popup-container {
    position: fixed;
    top: 15px;
    left: 5px;
    width: 95%;
    height: 95%;
    margin: 5px;
    background-color: rgba(152, 152, 152, 0.747);
    /* Fond semi-transparent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Assurez-vous qu'il soit au-dessus du contenu */
}

/* Contenu de la pop-up */
#popup-container>div {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style du message */
#popup-container p {
    color: white;
    font-size: 18px;
    margin: 0;
}

/* Style du bouton de fermeture */
#popup-container button {
    position: absolute;
    bottom: 25px;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #E6B57A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popup-container button:hover {
    background-color: #E6B57A;
}

/*--------------Objets------------------------*/
/* Style général pour le bouton */
.button-with-icons {
    position: absolute;
    bottom: 25px;
    right: 0;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    /* S'adapte à la taille des icônes */
    min-width: 200px;
    /* Largeur minimale pour contenir les icônes */
}

/* Icônes à l'intérieur du bouton */
.button-with-icons img {
    width: 30px;
    /* Taille des icônes */
    height: 30px;
}

/*----------------Objet pop up-----------------*/
/* -------------------- Popup principale -------------------- */
.popup-containerObj {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* S'assurer que la popup soit au-dessus du contenu */
}

/* -------------------- Contenu de la popup -------------------- */
.popup-contentObj {
    background-color: #fff;
    width: 100%;
    height: 92%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* -------------------- Titre de la popup -------------------- */
.popup-contentObj h3 {
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* -------------------- Conteneur des objets -------------------- */

/* -------------------- Item d'objet -------------------- */
.obj-item {
    display: flex;
    flex-direction: column;
    align-items: center;


}

/* -------------------- Bouton avec 3 points -------------------- */
.icon-btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    /* Taille de la police pour les 3 points */
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 5px;
    display: inline-block;
}



/* -------------------- Bouton de fermeture -------------------- */
.popup-contentObj button {

    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top: 20px;
}

.popup-contentObj button:hover {
    background-color: #dca352;
}

/* -------------------- Bouton avec image -------------------- */
.obj-item img {
    width: 50px;
    /* Ajustez la taille selon vos besoins */
    height: 50px;
    /* Assurez-vous que la taille est cohérente */
    object-fit: cover;
    /* Gère le cadrage des images */
    border-radius: 5px;
    /* Ajoutez un effet arrondi si nécessaire */
    transition: transform 0.2s ease, opacity 0.3s ease;
}

.pContainer {
    width: 80%;
    display: flex;
    align-items: start;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.bgImage {
    position: fixed;
    bottom: 30px;
    scale: 1.2;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    /* Couleur transparente */
    pointer-events: none;
    /* N'intercepte pas les clics par défaut */
    z-index: 9998;
    display: none;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    /* Couleur semi-transparente */
    z-index: 9998;
}

.weaponsBloc {
    width: 250px;
    height: auto;
    position: fixed;
    top: 380px;
    left: 150px;
    display: flex;
    flex-direction: column;
}

.weapons {
    margin: 10px;
    width: 250px;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: start;
    transform: skewX(-15deg);
    box-shadow: inset 2px 2px 2px rgb(78, 78, 78), 5px 5px 5px rgb(92, 92, 92);
}

.fade-in {
    display: flex;
    opacity: 0;
    animation: fadeInTwo 2s forwards;
}

.fade-out {
    opacity: 0.8;
    animation: fadeOut 2s forwards;
}

.OverlayTxt {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    color: #fff;
    z-index: 9999;
}

.vibration {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*btn VR*/
.a-enter-vr-button {
    display: none !important;
}

.OverlayImg {
    width: 100px;
    /* Adjust the size as needed */
    height: auto;
}

@keyframes fadeInTwo {
    to {
      opacity: 0.8;
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

